/* font-family: 'Cairo', sans-serif;
font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(1,1,1,255);
  background-position: right;
  background-repeat: no-repeat; 
  height: 100vh;
  color: white;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

#message {
  display: flex;
  margin: auto;
  height: 100%;
  font-size: 4em;
  align-items: center;
  font-family: 'Cairo', sans-serif;
  font-weight: 800;
}

#showme {
  margin-top: 50px;
  padding: 20px 0px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 80%;
  min-width: 650px;
  height: 80vh;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
  display: none;
}

.off-br{
  border: 0.5px solid rgb(54, 54, 54);
  fill: rgba(0, 0, 0, 0.1);
}

.off-br:hover{
  fill: rgba(255, 255, 255, 0.1);
}

.in-br:hover{
  fill: rgba(21, 255, 0, 0.5);
}

.in-br{
  fill: rgba(0, 0, 0, 0.6);
  border: 0.5px solid rgb(255, 255, 255);

}

.off-all{
  background-color: rgba(129, 13, 13, 0.9);
  display: none;

}
.infoApi{
  text-align: justify;
  margin: 15px;
  margin-top: 130px;
  padding: 15px;
  background-color: rgb(255, 255, 255, 0.05);
}

#selectedState, #selectedStateInfo{
  margin-top: 30px;
  display: none;
  flex-direction: column;
}

#selectedState{
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}

#brmap, #svgbrmap{
  display: flex;
  justify-content: left;
}


.gocol30 {
  width: 30%;
}

.gocol70 {
  width: 65%;
}

.gorow{
  display: flex;
  flex-direction: row;
}

.margin {
line-height: 60px;
padding: 20px;
}


#listapaises{
  width: 300px;
  color: rgb(0, 0, 0);
  background-color: rgb(145, 145, 145);
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

#infoPais{
  font-weight: 600;
}

@media (max-width: 1200px) {

  #showme{
    /* display: flex; */
    flex-direction: column !important;
  }

  .gocol {
    flex-direction: column !important;
  }

  .gocol100 {
    width: 100%;
    flex-direction: column;
  }
}