* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: black !important; */
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-direction: column;
}

#message {
  display: flex;
  margin: auto;
  padding-bottom: 200px;
  height: 100%;
  font-size: 4em;
  align-items: center;
  /* background-color: beige; */
}

#showme {
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 80%;
  height: 70vh;
  margin: auto;
  display: none;
}

#regions_div , #defs{
  fill: none !important;
}

rect {
  fill: none !important;
}

path {
  fill: rgba(223, 214, 214, 0.1);
}

path:hover {
  fill: rgb(38, 78, 1);
}